ion-content{
    --background: rgb(32, 74, 228);
}

ion-list{
    background: rgb(32, 74, 228);
}

.ionit{
    margin-top: 30px;
    --background: transparent;
}

.imgper{
    height: 200px;
    width: 200px;
    margin: auto;
}

.nom{
    color: white;
    font-size: 25px;
    text-align: center;
}
