<ion-content [fullscreen]="true">
  <div class="header">
    <img class="imgVallejito" src="/assets/vallejito.png" alt="vallejito">
    <p class="ptit">Universidad César Vallejo</p>
  </div>
  <ion-list lines="none" class="ion-text-center">
    <ion-item>
      <p class="wel">BIENVENIDO</p>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Usuario:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" fill="outline" class="ion-input">
        <ion-icon class="iicon" slot="start" name="person-circle-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Contraseña:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="password" fill="outline" class="ion-input">
        <ion-icon class="iicon" slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    
    <ion-item class="ion-align-items-center">
      <ion-button routerLink="/home" class="ion-button">Iniciar sesión</ion-button>
    </ion-item>
    
    <ion-item class="creac">
      <p class="pcreac ppcreac">¿No tienes una cuenta?</p>
      <p class="pcreac" routerLink="/register">Registrate</p>
    </ion-item>

    <ion-item class="resco">
      <p class="pres" routerLink="/correo">¿Olvidaste tu contraseña?</p>
    </ion-item>
  </ion-list>
</ion-content>