<ion-content [fullscreen]="true">
  <div class="header">
    
    <p class="ptit">Universidad César Vallejo</p>
  </div>
  <ion-list lines="none" class="ion-text-center">
    <ion-item>
      <p class="wel">¡BIENVENIDO! INICIAR SESIÓN</p>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Correo institucional:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" fill="outline" class="ion-input" [(ngModel)]="correoE" name="correo" placeholder="Ingrese su correo institucional">
        
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Contraseña:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="password" fill="outline" class="ion-input" [(ngModel)]="contrasenaE" name="contrasena" placeholder="Ingrese su contraseña">
      </ion-input>
    </ion-item>
    
    <ion-item class="ion-align-items-center">
      <ion-button (click)="login()" routerLink="" class="ion-button">Iniciar sesión</ion-button>
    </ion-item>
    
    <ion-item class="creac">
      <p class="pcreac ppcreac" routerLink="/register">¿No tienes una cuenta? Regístrate</p>
    </ion-item>

    <ion-item class="resco">
      <p class="pres" routerLink="/correo">¿Olvidaste tu contraseña?</p>
    </ion-item>
  </ion-list>
</ion-content>