ion-content{
    --background: rgb(32, 74, 228);
}

ion-list{
    background: rgb(32, 74, 228);
}

.ionit{
    --background: transparent;
}

.tit{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

.imgper{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.nom{
    color: white;
    font-size: 25px;
    text-align: center;
}

.btn{
    --box-shadow: none;
    --background: white;
    color: rgb(32, 74, 228);
    font-weight: 800;
    font-size: 20px;
    --border-radius: 10px;
    height: 50px;
    width: 100%;
    margin: auto;
    text-transform: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}