<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon class="titicon" slot="start" name="exit-outline" routerLink="/login"></ion-icon>
    <ion-title class="tit">Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item lines="none">
      <ion-label class="lbl">Nombres:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="lbl">Apellidos:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="lbl">Correo:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="lbl">Codigo de estudiante:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="lbl">Contraseña:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button routerLink="/login">
        Registrar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
